.headerbg{
 
    background-image: url('./assets/bg.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 100% !important;
    min-height: 872px !important;
    position: relative !important;
  
}

.featuredproducts{
  background-image: url('./assets/leaves.png') !important;
  background-repeat: no-repeat !important;
 
}

.offerbg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 711px; /* Adjust height as needed */
    background-image: url('./assets/SpecialOffer.png') !important;
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repetition */
    padding: 0 5%; /* Add padding for text spacing */
    color: #fff; /* White text color */
  
}


/* style.css */
.about-section {
  background-image: url('./assets//aboutbg.png') !important; /* Replace with the correct path */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; /* Adjust for your design */
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

@media (min-width: 768px) {
  .about-section {
    padding: 60px; /* Adjust padding for larger screens */
  }
}



.footerbg{
  background-image: url('./assets//footer.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}